In [487]:
import pandas as pd

dh2012 = pd.read_csv('data/dh2012.csv')
dh2012['Author'] = dh2012['Author'].fillna(method='ffill')
dh2012 = dh2012[1:]

filter = dh2012['Project still exists?'] == 'Yes'
dh2012_active = dh2012[filter]
dh2012_inactive = dh2012[~filter]

In [488]:
# top2012_all = pd.DataFrame(columns=["project","cite_count","is_active"])

# for idx,project in enumerate(dh2012_active['Project Title'].value_counts().index.tolist()):
#     # is_active = dh2012.loc[dh2012['Project Title'] == project, 'Project still exists?'].to_list()[0]
#     row = {'project': project, 'cite_count': dh2012['Project Title'].value_counts()[idx]}
#     top2012_active = top2012_active.append(row, ignore_index = True)
    
# top2012_active = top2012_active[:10]


# top2012_all

In [489]:
top2012_active = pd.DataFrame(columns=["project","cite_count"])

top2012_active

Empty DataFrame
Columns: [project, cite_count]
Index: []

In [490]:
for idx,project in enumerate(dh2012_active['Project Title'].value_counts().index.tolist()):

    row = {'project': project, 'cite_count': dh2012_active['Project Title'].value_counts()[idx]}
    top2012_active = top2012_active.append(row, ignore_index = True)
    
top2012_active = top2012_active[:10]

top2012_active

                        project cite_count
0                  Ngram Viewer          7
1                        Zotero          7
2                  Google Books          6
3              Rossetti Archive          5
4                         Omeka          4
5         CUNY Academic Commons          3
6    HATHITrust Digital Library          3
7                  CommentPress          2
8                   HyperCities          2
9  Digital Humanities Now (DHN)          2

In [491]:
top2012_inactive = pd.DataFrame(columns=["project","cite_count"])

top2012_inactive

Empty DataFrame
Columns: [project, cite_count]
Index: []

In [492]:
for idx,project in enumerate(dh2012_inactive['Project Title'].value_counts().index.tolist()):

    row = {'project': project, 'cite_count': dh2012_inactive['Project Title'].value_counts()[idx]}
    top2012_inactive = top2012_inactive.append(row, ignore_index = True)
    
top2012_inactive = top2012_inactive[:10]

top2012_inactive

                                             project cite_count
0                                Looking for Whitman          4
1                        Shakespeare Quartos Archive          2
2                                           THATCamp          2
3                         Visible Knowledge Projects          1
4                Open Annotation Collaboration (OAC)          1
5                Metadata Offer New Knowledge (MONK)          1
6  The Online Archive of Nineteenth-Century U.S. ...          1
7               Emory Women Writers Resource Project          1
8                                         Crossroads          1
9  A Living Laboratory: Revitalizing General Educ...          1

In [493]:
top2012_inactive.to_csv('csv/top2012_inactive.csv',  index=False)
top2012_active.to_csv('csv/top2012_active.csv', index=False )